In [7]:
import os
import pandas as pd
import numpy as np

In [8]:
#Read CSV's
location = "data/CT_DB_Location.csv"
location_df = pd.read_csv(location)
points = "data/CT_DB_Points.csv"
points_df = pd.read_csv(points)
sales = "data/CT_DB_Sales.csv"
sales_df = pd.read_csv(sales)


#Combine Data
combined_data = pd.merge(sales_df, points_df, on=["Client ID", "Quarter", "Month", "Year"], how="outer")
combined_data = pd.merge(combined_data, location_df, on= "Client ID", how="outer")
#Read Combine Data
combined_data

,Client ID,Quarter,Category,Distributor,Month,Year,Min Monthly Sales,A,B,C,Monthly Points,Quarter Bonus 1,Quarter Bonus 2,Yearly Bonus 1,Yearly Bonus 2,Town,State,Zip Code
0,2,1,C4,D5,1,2018,"$59,000.00","$13,899.34",$0.00,"$38,052.45",0,0,0,0,0,Tlalnepantla,Ciudad de Mexico,2070
1,2,1,C4,D5,2,2018,"$59,000.00","$5,972.67",$0.00,"$9,328.95",0,0,0,0,0,Tlalnepantla,Ciudad de Mexico,2070
2,2,2,C4,D5,5,2018,"$59,000.00",$988.38,$0.00,"$18,818.64",0,0,0,0,0,Tlalnepantla,Ciudad de Mexico,2070
3,2,2,C4,D5,6,2018,"$59,000.00","$5,763.96",$0.00,"$11,152.62",0,0,0,0,0,Tlalnepantla,Ciudad de Mexico,2070
4,2,3,C4,D5,8,2018,"$59,000.00","$26,613.90",$0.00,"$61,739.82",1080,0,0,0,0,Tlalnepantla,Ciudad de Mexico,2070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14579,1371,4,C4,D12,11,2020,"$59,000.00","$180,999.00","$27,786.00","$9,364.00",164,0,0,0,0,Colima,Colima,77712
14580,1371,4,C4,D12,12,2020,"$59,000.00","$77,980.00","$33,571.00","$7,682.00",134,6200,4000,0,0,Colima,Colima,77712
14581,1372,4,C2,D15,10,2020,"$23,000.00","$11,367.00","$3,969.00","$11,498.00",172,0,0,0,0,Tezontepec,Hidalgo,36259
14582,1372,4,C2,D15,11,2020,"$23,000.00","$8,218.00","$19,235.00","$8,218.00",123,0,0,0,0,Tezontepec,Hidalgo,36259
14583,1372,4,C2,D15,12,2020,"$23,000.00","$26,762.00","$6,632.00","$23,798.00",357,1894,3000,0,0,Tezontepec,Hidalgo,36259

In [9]:
#Replacing the original values to a new format which we can convert from string to float and get the Totals

#Format to column "Min Monthly Sales"
combined_data['Min Monthly Sales'] = combined_data['Min Monthly Sales'].replace(',','', regex = True)
combined_data['Min Monthly Sales'] = combined_data['Min Monthly Sales'].str.replace('\$', '', regex=True).astype('float')

#Format to Column "A"
combined_data['A'] = combined_data['A'].replace(',','', regex = True)
combined_data['A'] = combined_data['A'].str.replace('\$', '', regex=True).astype('float')

#Format to Column "B"
combined_data['B'] = combined_data['B'].replace(',','', regex = True)
combined_data['B'] = combined_data['B'].str.replace('\$', '', regex=True).astype('float')

#Format to Column "C"
combined_data['C'] = combined_data['C'].replace(',','', regex = True)
combined_data['C'] = combined_data['C'].str.replace('\$', '', regex=True).astype('float')


combined_data

,Client ID,Quarter,Category,Distributor,Month,Year,Min Monthly Sales,A,B,C,Monthly Points,Quarter Bonus 1,Quarter Bonus 2,Yearly Bonus 1,Yearly Bonus 2,Town,State,Zip Code
0,2,1,C4,D5,1,2018,59000.0,13899.34,0.0,38052.45,0,0,0,0,0,Tlalnepantla,Ciudad de Mexico,2070
1,2,1,C4,D5,2,2018,59000.0,5972.67,0.0,9328.95,0,0,0,0,0,Tlalnepantla,Ciudad de Mexico,2070
2,2,2,C4,D5,5,2018,59000.0,988.38,0.0,18818.64,0,0,0,0,0,Tlalnepantla,Ciudad de Mexico,2070
3,2,2,C4,D5,6,2018,59000.0,5763.96,0.0,11152.62,0,0,0,0,0,Tlalnepantla,Ciudad de Mexico,2070
4,2,3,C4,D5,8,2018,59000.0,26613.90,0.0,61739.82,1080,0,0,0,0,Tlalnepantla,Ciudad de Mexico,2070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14579,1371,4,C4,D12,11,2020,59000.0,180999.00,27786.0,9364.00,164,0,0,0,0,Colima,Colima,77712
14580,1371,4,C4,D12,12,2020,59000.0,77980.00,33571.0,7682.00,134,6200,4000,0,0,Colima,Colima,77712
14581,1372,4,C2,D15,10,2020,23000.0,11367.00,3969.0,11498.00,172,0,0,0,0,Tezontepec,Hidalgo,36259
14582,1372,4,C2,D15,11,2020,23000.0,8218.00,19235.0,8218.00,123,0,0,0,0,Tezontepec,Hidalgo,36259
14583,1372,4,C2,D15,12,2020,23000.0,26762.00,6632.0,23798.00,357,1894,3000,0,0,Tezontepec,Hidalgo,36259

In [10]:
# Adding the Total Sales and Points, and Location columns
combined_data["Total Sales"] = combined_data["A"] + combined_data["B"] + combined_data["C"]
combined_data["Total Points"] = combined_data["Monthly Points"] + combined_data["Quarter Bonus 1"] + combined_data["Quarter Bonus 2"] + combined_data["Yearly Bonus 1"] + combined_data["Yearly Bonus 1"] 

# We know that the program estimates each point is worth $0.86 MXN, so we will create a column to know the Points worth in $
combined_data["Points Worth ($)"] = combined_data["Total Points"] * 0.86

#We would like to know the compliance of the client in their monthly sales, so we will add a column that calculates it.
combined_data["Compliance"] = round(combined_data["Total Sales"] / combined_data["Min Monthly Sales"], 2)
combined_data

,Client ID,Quarter,Category,Distributor,Month,Year,Min Monthly Sales,A,B,C,...,Quarter Bonus 2,Yearly Bonus 1,Yearly Bonus 2,Town,State,Zip Code,Total Sales,Total Points,Points Worth ($),Compliance
0,2,1,C4,D5,1,2018,59000.0,13899.34,0.0,38052.45,...,0,0,0,Tlalnepantla,Ciudad de Mexico,2070,51951.79,0,0.00,0.88
1,2,1,C4,D5,2,2018,59000.0,5972.67,0.0,9328.95,...,0,0,0,Tlalnepantla,Ciudad de Mexico,2070,15301.62,0,0.00,0.26
2,2,2,C4,D5,5,2018,59000.0,988.38,0.0,18818.64,...,0,0,0,Tlalnepantla,Ciudad de Mexico,2070,19807.02,0,0.00,0.34
3,2,2,C4,D5,6,2018,59000.0,5763.96,0.0,11152.62,...,0,0,0,Tlalnepantla,Ciudad de Mexico,2070,16916.58,0,0.00,0.29
4,2,3,C4,D5,8,2018,59000.0,26613.90,0.0,61739.82,...,0,0,0,Tlalnepantla,Ciudad de Mexico,2070,88353.72,1080,928.80,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14579,1371,4,C4,D12,11,2020,59000.0,180999.00,27786.0,9364.00,...,0,0,0,Colima,Colima,77712,218149.00,164,141.04,3.70
14580,1371,4,C4,D12,12,2020,59000.0,77980.00,33571.0,7682.00,...,4000,0,0,Colima,Colima,77712,119233.00,10334,8887.24,2.02
14581,1372,4,C2,D15,10,2020,23000.0,11367.00,3969.0,11498.00,...,0,0,0,Tezontepec,Hidalgo,36259,26834.00,172,147.92,1.17
14582,1372,4,C2,D15,11,2020,23000.0,8218.00,19235.0,8218.00,...,0,0,0,Tezontepec,Hidalgo,36259,35671.00,123,105.78,1.55
14583,1372,4,C2,D15,12,2020,23000.0,26762.00,6632.0,23798.00,...,3000,0,0,Tezontepec,Hidalgo,36259,57192.00,5251,4515.86,2.49

In [11]:
# Reorganizing the data frame
Project_df = combined_data[["Client ID", "Town", "State", "Zip Code", "Month", "Quarter", "Year", "Category", 
                               "Distributor", "Min Monthly Sales", "Total Sales", "Compliance", "Total Points", "Points Worth ($)"]]
Project_df['Total Sales'] = Project_df['Total Sales'].astype('int')
Project_df['Total Points'] = Project_df['Total Points'].astype('int')

# Organized and clean data frame we will be working with
Project_df

/opt/anaconda3/envs/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/envs/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Client ID,Town,State,Zip Code,Month,Quarter,Year,Category,Distributor,Min Monthly Sales,Total Sales,Compliance,Total Points,Points Worth ($)
0,2,Tlalnepantla,Ciudad de Mexico,2070,1,1,2018,C4,D5,59000.0,51951,0.88,0,0.00
1,2,Tlalnepantla,Ciudad de Mexico,2070,2,1,2018,C4,D5,59000.0,15301,0.26,0,0.00
2,2,Tlalnepantla,Ciudad de Mexico,2070,5,2,2018,C4,D5,59000.0,19807,0.34,0,0.00
3,2,Tlalnepantla,Ciudad de Mexico,2070,6,2,2018,C4,D5,59000.0,16916,0.29,0,0.00
4,2,Tlalnepantla,Ciudad de Mexico,2070,8,3,2018,C4,D5,59000.0,88353,1.50,1080,928.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14579,1371,Colima,Colima,77712,11,4,2020,C4,D12,59000.0,218149,3.70,164,141.04
14580,1371,Colima,Colima,77712,12,4,2020,C4,D12,59000.0,119233,2.02,10334,8887.24
14581,1372,Tezontepec,Hidalgo,36259,10,4,2020,C2,D15,23000.0,26834,1.17,172,147.92
14582,1372,Tezontepec,Hidalgo,36259,11,4,2020,C2,D15,23000.0,35671,1.55,123,105.78
14583,1372,Tezontepec,Hidalgo,36259,12,4,2020,C2,D15,23000.0,57192,2.49,5251,4515.86

In [6]:
# Export the Project_df into a csv
Project_df.to_csv("Project_df.csv",encoding="utf-8",index=False)